input[type='text'],
textarea,
select {
  padding: 4px 8px;
  margin: 8px 0;
  margin-right: 8px;
  font-size: 16px;
}

label {
  margin-left: 4px;
}

.page {
  padding: 32px;
}

.page-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e1e1e1;
}

.brand {
  margin-right: 32px;
}

.menu-item {
  display: inline-block;
  text-decoration: none;
  color: #585858;
  margin: 8px;
  padding: 8px 16px;
}

.page-body {
  margin: 24px 0;
}

.router-link-active {
  color: #505050;
  background: #eeeeee;
  border-radius: 5px;
}
