.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  box-sizing: border-box;
  padding: 32px;
  margin: 0 auto;
  background: #f8f8f8;
  border-radius: 10px;
}

.card__header {
  text-align: center;
  margin-bottom: 32px;
}

.card-title {
  margin-bottom: 8px;
}

.card-subtitle {
  font-size: 12px;
  color: #989898;
}

.card__content {
  min-height: 250px;
}

.card__action > button {
  outline: none;
  border: none;
  background: none;
  border: 2px solid #000;
  padding: 10px 24px;
  cursor: pointer;
  margin: 4px;
}

.card__action > button:active {
  opacity: 0.8;
}

.card__action > button.active {
  background: #000;
  color: #fff;
}

.status {
  text-align: center;
  margin: 24px;
}
